[Unit]
Description=Configure Wake-on-LAN for %i
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ethtool -s %i wol g
ExecStart=/bin/sh -c 'echo enabled > /sys/class/net/%i/device/power/wakeup'

[Install]
WantedBy=multi-user.target