[user]
	name = tamakiii
	email = tamakiii@users.noreply.github.com

[push]
	default = current

[core]
	editor = hx
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
