[push]
	default = current
[color]
	ui = true
[core]
	editor = vim
	pager = less
[user]
	name = tamakiii
	email = tamakiii@users.noreply.github.com
[pager]
	branch = cat
	log = less -R -F -X
[credential]
	helper = osxkeychain
