[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
[submodule ".fzf"]
	path = .fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
