[Unit]
Description=Shairport Sync - AirPlay Audio Receiver
After=pipewire.service
Wants=pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/shairport-sync -c %h/.config/shairport-sync.conf
Restart=always
RestartSec=5

[Install]
WantedBy=default.target