name: CI

on: [push]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Get brew cache directory
      id: brew-cache
      run: echo "::set-output name=dir::$(brew --cache)"
    - name: Brew cache
      uses: actions/cache@v1
      id: cache
      with:
        path: ${{ steps.brew-cache.outputs.dir }}
        key: ${{ runner.os }}-${{ hashFiles('**/Brewfile') }}
        restore-keys: |
          ${{ runner.os }}-
    - run: ls -lsa $(brew --cache)
    - name: Brew config
      run: brew config
    - name: Uninstall default node
      run: brew uninstall node@12
    - name: Brew install
      run: make -f brew.mk
    - name: Brew config
      run: brew config
    - name: Test setup scripts
      run: make install
